<div *ngIf="isEditable">
  <button *ngIf="!isEdit" class="btn btn-primary mb-2 btn-block" (click)="openNew()">Új post</button>
  <div *ngIf="isEdit" class="border p-4">
    <app-news-item
                   [news]="selectedNews"
                   [selectable]="false"
                   [editable]="true"
                   (remove)="onRemove($event)"
                   (save)="onSave($event)"
                   (cancel)="onCancel()"
    ></app-news-item>
  </div>

</div>

<div *ngIf="!isEdit" class="mt-2">
  <div *ngFor="let news of newsList" class="border mt-2 p-2">
    <app-news-item [news]="news"
                   [editable]="false"
                   [selectable]="isEditable"
                   (selected)="onNewsSelect($event)"
    ></app-news-item>
  </div>
</div>
