<div *ngIf="isSelectable">
  <button type="button" class="btn btn-primary btn-block" (click)="openNew()">Új info</button>
  <app-info-item *ngIf="!!new"
                 [info]="newInfo"
                 [types]="types"
                 [editable]="true"
                 (save)="onSave($event)"


  ></app-info-item>
</div>


<div>
  <h6>Cím</h6>
  <div *ngFor="let info of getByType(ADDRESS)">
    <app-info-item [info]="info"
                   [types]="types"
                   [selectable]="isSelectable"
                   [editable]="isSelectable && selectedId === info.id"
                   (save)="onSave($event)"
                   (selected)="onInfoSelect($event)"
                   (remove)="onRemove($event)"

    >
    </app-info-item>
  </div>

  <h6>Elérhetőségek</h6>
  <div *ngFor="let info of getByType(EMAIL)">
    <app-info-item [info]="info"
                   [types]="types"
                   [selectable]="isSelectable"
                   [editable]="isSelectable && selectedId === info.id"
                   (save)="onSave($event)"
                   (selected)="onInfoSelect($event)"
                   (remove)="onRemove($event)"
    >
    </app-info-item>
  </div>
  <div *ngFor="let info of getByType(PHONE)">
    <app-info-item [info]="info"
                   [types]="types"
                   [selectable]="isSelectable"
                   [editable]="isSelectable && selectedId === info.id"
                   (save)="onSave($event)"
                   (selected)="onInfoSelect($event)"
                   (remove)="onRemove($event)"
    >
    </app-info-item>
  </div>

  <h6>Egyéb</h6>
  <div *ngFor="let info of getByType(OTHER)">
    <app-info-item [info]="info"
                   [types]="types"
                   [selectable]="isSelectable"
                   [editable]="selectedId === info.id"
                   (save)="onSave($event)"
                   (selected)="onInfoSelect($event)"
                   (remove)="onRemove($event)"
    >
    </app-info-item>
  </div>
</div>


