<div *ngIf="!!timeTable" class="table-responsive">
  <table class="table">
    <tr class="table table-bordered tab">
      <th *ngFor="let c of timeTable; let i = index" class="text-center"> {{c.time}}</th>
    </tr>
    <tr class="table">
      <ng-container *ngFor="let cell of timeTable; let j = index">
        <td *ngIf="cell.isSelectable && cell.status !== CHOSEN"
            class="text-center empty"
            (click)="onCellSelected(cell)">{{getCellText(j)}}</td>
        <td *ngIf="cell.isSelectable && cell.status === CHOSEN"
            class="text-center chosen"
            (click)="onCellSelected(cell)">{{getCellText(j)}}</td>
        <td *ngIf="!cell.isSelectable && cell.status === SELECTED && mode !== CLOSED"
            class="text-center selected"
            >{{getCellText(j)}}</td>
        <td *ngIf="!cell.isSelectable && cell.status !== SELECTED && mode !== CLOSED"
            class="text-center reserved"
            >{{getCellText(j)}}</td>

        <td *ngIf="!cell.isSelectable && mode === CLOSED && cell.isCurrent"
            class="text-center closed"
            (click)="onCellSelected(cell)">{{getCellText(j)}}</td>
        <td *ngIf="!cell.isSelectable && mode === CLOSED && !cell.isCurrent"
            class="text-center closed-empty"
            (click)="onCellSelected(cell)">{{getCellText(j)}}</td>
      </ng-container>
    </tr>
  </table>
</div>
