<div *ngIf="timeTable !== undefined && reservationAppointments !== undefined" class="table-responsive">
  <table class="table">
    <tr class="table table-bordered tab">
      <th *ngFor="let c of timeTable; let i = index" class="text-center"> {{c.time}}</th>
    </tr>
    <tr class="table">
      <ng-container *ngFor="let cell of timeTable; let j = index">
        <td *ngIf="isSelectable(j) && cell.status !== CHOSEN" class="text-center empty"
            (click)="onCellSelected(j)">{{getCellText(j)}}</td>
        <td *ngIf="isSelectable(j) && cell.status === CHOSEN" class="text-center chosen" (click)="onCellSelected(j)">{{getCellText(j)}}</td>
        <td *ngIf="!isSelectable(j) && cell.status === CHOSEN" class="text-center chosen-not-allowed" (click)="onCellSelected(j)">{{getCellText(j)}}</td>
        <td *ngIf="!isSelectable(j) && cell.status !== CHOSEN" class="text-center reserved" (click)="onCellSelected(j)">{{getCellText(j)}}</td>
      </ng-container>
    </tr>
  </table>
</div>
