<form class="d-flex flex-wrap justify-content-between align-items-end mt-1" (ngSubmit)="onFilter()">
    <div class="form-group">
      <label for="status" class="col-sm-3 control-label">Állapot</label>
        <select
          class="form-control"
          id="status"
          name="status"
          [(ngModel)]="filter.status">
          <option *ngFor="let x of statusOptions" [value]="x.status">{{x.label}}</option>
        </select>
    </div>

    <div class="form-group">
      <label for="plateNumber" class="col-sm-3 control-label">Rendszám</label>
        <input
          class="form-control"
          type="text"
          id="plateNumber"
          name="plateNumber"
          [(ngModel)]="filter.plateNumber">
    </div>
    <div class="form-group">
      <label for="type" class="col-sm-3 control-label">Típus</label>
        <input
          class="form-control"
          type="text"
          id="type"
          name="type"
          [(ngModel)]="filter.type">
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="submit">Keresés
        <fa-icon class="ml-1" [icon]="icon"></fa-icon></button>
    </div>
</form>
