<div class="row">
  <div class="col-md-2">
    <app-informations></app-informations>
  </div>
  <div class="col-md-8">
    <button type="button" class="btn btn-primary btn-block mt-1 mb-2" (click)="openingHoursCollapse =
    !openingHoursCollapse"
            [attr.aria-expanded]="!openingHoursCollapse" aria-controls="collapseExample">
      Nyitvatartás
    </button>
    <div class="mt-2 mb-2 p-2 border" id="collapseExample" [ngbCollapse]="openingHoursCollapse">
      <app-opening-hours></app-opening-hours>
    </div>
    <app-news></app-news>

  </div>
  <div class="col-md-2">
    <app-rating></app-rating>
  </div>
</div>
